.center-text1 {
    background-color: #DCDCDC; 
    color: black;
    text-align: center;
    padding: 10px;
}
#heading1 {
    font-size: 30px;
    color: white;
    background-color: #4CAF50;
    padding: 20px;
    margin: 0;
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #1e107a 29%,
      #1e107a 67%,
      #231557 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 100% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
        font-size: 130px;
  }
  #chatContainer {
    text-align: center;
}

.chatEntry {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    
}

.userCommand {
    color: white;
    background-color: red;
    font-size: medium;
    padding: 10px;
    margin-right: 100px;
    border-radius: 15px;
    align-self: flex-start;
}

.botResponse {
    color: white;
    background-color: green;
    font-size: medium;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    align-self: flex-end;
}
#chathistory
{
    font-size: 18px; 
    margin-top: 10px; 
    padding: 50px; 
    overflow-y: scroll; 
    max-height: 500px;
    
}
#record {
    color: white;
    background-color: #3498db;
    font-size: medium;
    padding: 10px;
    border-radius: 8px;
    border: none;

}

