<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <meta charset="UTF-8">
    <title>Braille Bot</title>
</head>

<body class="center-text1">

    <h1 id="heading1">Braille Bot</h1>
    <button id="record">Press Space and Speak </button>
    <div id="imageContainer"></div>

    <div id="chatContainer" class="center-text">
        <div id="chatHistory"></div>
    </div>
    
    <div id="youtubeVideo"></div>

    

    <script>
        var lat, lon;
        var chatHistory = '';

        document.addEventListener('keydown', (event) => {
            if (event.code == "Space") {
                recordButton.click();
            }
        });

        const recordButton = document.getElementById('record');
        const chatHistoryDiv = document.getElementById('chatHistory');
        const youtubeVideoDiv = document.getElementById('youtubeVideo');
        
        window.onload = function () {
            var audioelement = document.getElementById('audio');

            if (audioelement) {
                audioelement.addEventListener('loadeddata', function () {
                    recordButton.click();
                });

                audioelement.play();
            }
        };

        let recognition;

        recordButton.addEventListener('click', () => {
            if (recognition && recognition.isStarted) {
                recognition.stop();
                recognition = undefined;
                recordButton.innerText = 'Press Space and Speak';
                
            } else {
                recognition = new webkitSpeechRecognition();
                recognition.continuous = false;
                recognition.interimResults = false;
                recognition.lang = 'en-US';

                recognition.onstart = () => {
                    recordButton.innerText = 'Listening...';
                    
                };

                recognition.onresult = (event) => {
                    const result = event.results[0][0].transcript;
                    const proresult = result.replace(/attherateof/g, '@');

                    // Display the request
                    sendToServer(proresult);
                    recognition.stop();
                    recordButton.innerText = 'Press Space and Speak';
                    
                };

                recognition.start();
                recordButton.innerText = 'Listening...';
                
            }
        });

        function sleep(ms) {
            return new Promise((resolve) => setTimeout(resolve, ms));
        }

        async function getLocationWithDelay() {
            return new Promise((resolve, reject) => {
                try {
                    fetch("https://ipinfo.io/loc?token=3ce7633385e4a0", {
                        method: "GET",
                        headers: {
                            "User-agent": "Mozilla/4.0 Custom User Agent",
                        },
                    })
                        .then((response) => response.text())
                        .then((locationString) => {
                            console.log(locationString);
                            const [latitude, longitude] = locationString.split(",");
                            sleep(3000).then(() => {
                                lat = latitude;
                                lon = longitude;
                                resolve({ latitude, longitude });
                            });
                        })
                        .catch((error) => {
                            reject(error);
                        });
                } catch (error) {
                    reject(error);
                }
            });
        }

        async function main(command) {
            try {
                const location = await getLocationWithDelay();
                const latitude = location.latitude;
                const longitude = location.longitude;
            } catch (error) {
                console.error("Error:", error);
            }
        }

        main("yo");

        function sendToServer(command) {
            fetch('/process-command', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ command, latitude: lat, longitude: lon }),
            })
                .then(response => response.json())
                .then(data => {
                    // Display the response
                    if (data.response.includes('youtube')) {
                        youtubeVideoDiv.style.display = 'block';
                        const iframe = youtubeVideoDiv.querySelector('iframe');
                        iframe.src = data.response;
                        data.response = "";
                    } else {
                        youtubeVideoDiv.style.display = 'none';
                    }

                    const synthesis = new SpeechSynthesisUtterance(data.response);
                    synthesis.pitch = 1;
                    synthesis.rate = 0.8;

                    synthesis.lang = 'en-US';

                    speechSynthesis.speak(synthesis);

                    // Update chat history
                    const entry = `<div class="chatEntry"><div class="userCommand">User: ${command}</div><div class="botResponse">Bot: ${data.response}</div></div>`;
                    chatHistory += entry;
                    chatHistoryDiv.innerHTML = chatHistory;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
</body>

</html>

